/* Estilos Gerais */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #212a79, #004e92);
    color: #fff;
}

header, footer {
    background-color: #003366;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(13, 15, 43, 0.7);
    border-radius: 8px;
}

section h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

section p {
    text-align: justify;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery .item {
    flex: 1;
    margin: 10px;
}

.gallery .item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery .item img:hover {
    transform: scale(1.05);
}

.news-list, .event-list, .course-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-item, .event-item, .course-item {
    background-color: #002244;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.news-item a, .event-item a, .course-item a {
    color: #66ccff;
    text-decoration: none;
}

footer .footer {
    background-color: #003366;
    color: #fff;
    padding: 10px 0;
}

/* Estilização de Contato */
.contato form input, .contato form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

.contato form button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-details {
    text-align: center;
}

.contact-details a {
    color: #66ccff;
    text-decoration: none;
}
